.searchpage {
  display: flex;
  justify-content: center;
  &__container {
    width: 1110px;
  }
  &__bread {
    font-size: 12px;
    line-height: 16px;
    color: $grey;
    margin: 24px 0px 40px 0px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    &_img {
      display: block;
      width: 610px;
      height: 900px;
      border-radius: 2px;
      object-fit: contain;
    }
    &_wrap {
      width: 350px;
    }
    &_subtitle {
      font-size: 14px;
      line-height: 18px;
      color: $grey;
      margin-bottom: 8px;
    }
    &_title {
      font-family: "Merriweather";
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      color: $header;
      margin: 8px 0 16px;
    }
  }
  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $red;
    margin: 30px 0 33px;
  }
  &__selectcolor {
    display: flex;
    align-items: center;
    &_subtitle {
      font-size: 14px;
      line-height: 16px;
      color: $grey;
    }
    &_subcolor {
      margin-left: 6px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: $category;
    }
  }
  &__color {
    display: flex;
    align-items: center;
    margin: 12px 0 30px 0;
    &_btn {
      width: 30px;
      height: 30px;
      display: flex;
      margin-right: 10px;
    }
  }
  &__description {
    &_title {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: $header;
      margin-bottom: 16px;
    }
    &_text {
      font-size: 14px;
      line-height: 22px;
      color: $greyform;
    }
  }
  &__size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    &_subtitle {
      font-size: 14px;
      line-height: 16px;
      color: $grey;
    }
  }
}

.selectsize {
  background: #ffffff;
  border: 1px solid #cccbcf;
  border-radius: 2px;
  list-style: none;
  display: flex;
  position: relative;
  &__button {
    background-color: transparent;
    padding-right: 10px;
    &-icon {
      transition: all 0.3s linear;
      &_active {
        transform: rotate(180deg);
        transition: all 0.3s linear;
      }
    }
  }
  &__option {
    margin: 12px auto 12px 12px;
    font-size: 14px;
    line-height: 16px;
    color: $greyform;
    &_show {
      display: block;
    }
  }
  &__size {
    display: block;
    position: absolute;
    width: 100%;
    top: 41px;
    background-color: $white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    right: 0;
    &-element {
      font-size: 14px;
      line-height: 16px;
      margin: 12px auto 12px 20px;
      list-style: none;
      color: $header;
      &:hover {
        color: $red;
        font-weight: 700;
      }
    }
    &_hidden {
      display: none;
    }
  }
}

.addproduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 41px;
  &__button {
    background: $header;
    border-radius: 2px;
    padding: 12px 107px;
    color: $border;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    &:hover {
      background-color: $pink;
      color: $header;
    }
  }
  &__like {
    background: #e4e5e8;
    border-radius: 30px;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
