.card {
  position: relative;
  width: 255px;
  margin-bottom: 30px;
  margin-right: 10px;
  &__img {
    & img {
      display: block;
      height: 384px;
      object-fit: contain;
    }
  }
  &__brand {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $header;
    margin-top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__item,
  &__price {
    display: -webkit-box;
    font-size: 13px;
    line-height: 16px;
    color: $greytext;
    margin-top: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__like {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    background-color: $lightgrey;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    &:hover path {
      stroke: $header;
    }
  }
  &__likesvg_active,
  &__likesvg:hover {
    fill: $header;
  }
}
