.ecocollection {
  display: flex;
  padding-bottom: 170px;
  padding-top: 100px;
  &__article {
    padding-right: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &_title {
      font-family: "Merriweather", serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      color: $header;
    }
    &_text {
      font-size: 14px;
      line-height: 22px;
      color: $grey;
      margin-top: 16px;
      margin-bottom: 30px;
    }
    &_button {
      cursor: pointer;
      border: none;
      color: $white;
      background-color: $header;
      border-radius: 2px;
      padding: 10px 22px;
    }
  }
  &__photo {
    & img {
      display: block;
    }
    
  }
}
