.item {
  background-color: $header;
  margin-right: 30px;
  &:hover {
    transition-duration: 0.3s;
    transform: scale(1.1);
    background-color: $pink;
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 11px;
    color: $white;
    text-align: center;
  }
}
