.popular {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  margin-top: 10px;
  padding-bottom: 95px;
  padding-top: 328px;
  &__goods {
    display: flex;
    align-items: center;
  }
}
