.sale {
  background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  &__text {
    font-size: 18px;
    line-height: 24px;
    color: $white;
    animation: blur 1s ease-out infinite;
  }
  &__link {
    font-size: 18px;
    line-height: 24px;
    color: $white;
    margin-left: 20px;
  }
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
