.header {
  background-color: $header;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  &__icons {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
  }
  &__menu {
    background-color: $white;
    &--list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  &__form {
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    &--input {
      border: none;
      margin-left: 15px;
      font-size: 13px;
      line-height: 16px;
      width: 73px;
      outline: none;
    }
    &--button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    &--search {
      position: absolute;
      width: 220px;
      right: 0;
      top: 100%;
      background-color: $lightgrey;
      border: 2em;
      color: $header;
      // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      //   rgba(0, 0, 0, 0.22) 0px 15px 12px;
      padding: 10px;
      z-index: 1;
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  &__nav {
    &--list {
      display: flex;
    }
    &--item {
      list-style: none;
      margin-right: 35px;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      background-image: url(./arrow-down.svg);
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 20px;
      cursor: pointer;
    }
    &--link {
      color: $header;
      text-decoration: none;
    }
  }
}
