$black: black;
$white: white;
$header: #32313A;
$pink: #ed83a8;
$lightgrey: #F7F7F9;
$grey: #6E6D74;
$greyform: #86858B;
$greytext: #56555D;
$category: #4a4951;
$border: #E6E5E8;
$darkgrey: #1A1726;
$red: #DA2E3F;
$violet: #af17ca;
$shopbag: #9F9EA3;

