$black: black;
$white: white;
$header: #32313a;
$pink: #ed83a8;
$lightgrey: #f7f7f9;
$grey: #6e6d74;
$greyform: #86858b;
$greytext: #56555d;
$category: #4a4951;
$border: #e6e5e8;
$darkgrey: #1a1726;
$red: #da2e3f;
$violet: #af17ca;
$shopbag: #9f9ea3;
$forgot: #686978;
